.hourly-weather {
    border-radius: 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.5rem 0 0.5rem 0;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    padding: 1rem;
    /* max-width: fit-content; */
}

.forecast-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}