.header-background {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content {
    width: clamp(800px, 80% , 80%);
}

header {
    display: flex;
    margin: 0;
    padding: 1rem;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-icon-64 {
    display: none;
    height: 75px;
    width: 75px;
}

.website-title {
    display: flex;
    flex-grow: 1;
    justify-content: left;
}

.website-title-text {
    /* text-align: center; */
}

@media screen and (max-width: 800px) {
    .header-content { width: clamp(250px, 95% , 800px ); }
}
  
@media screen and (max-width: 500px) {
    .app-icon-64 { display: block;}
    .website-title > h3 { display: none; }
    .header-content { width: clamp(250px, 95% , 500px ); }
}